<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.java.dao.IUserInfoDAO">
	<insert id="add" parameterType="cn.gyyx.java.beans.UserInfo">
		insert into
		user_info_tb(info_account,info_password,info_name,info_gender,info_card,info_phone,info_email,info_question,info_answer)
		values(#{info_account},#{info_password},#{info_name},#{info_gender},#{info_card},#{info_phone},#{info_email},#{info_question},#{info_answer})
	</insert>
	<delete id="deleteByAccount" parameterType="String">
		delete from user_info_tb
		where info_account=#{info_account}
	</delete>
	<update id="update" parameterType="cn.gyyx.java.beans.UserInfo">
		update user_info_tb set
		info_password=#{info_password},info_name=#{info_name},info_gender=#{info_gender},info_card=#{info_card},info_phone=#{info_phone},info_email=#{info_email},info_question=#{info_question},info_answer=#{info_answer}
		where info_account=#{info_account}
	</update>
	<select id="selectByAccount" parameterType="String"
		resultType="cn.gyyx.java.beans.UserInfo" resultMap="UserInfoResultMap">
		select * from
		user_info_tb where info_account=#{info_account}
	</select>
	<select id="selectAllUsers" resultType="cn.gyyx.java.beans.UserInfo" resultMap="UserInfoResultMap">
		select top 5 * from user_info_tb
	</select>
	<select id="selectByKey" parameterType="String" resultType="cn.gyyx.java.beans.UserInfo" resultMap="UserInfoResultMap">
		select * from user_info_tb where info_account like CONCAT('%','${_parameter}','%')
	</select>
	<select id="selectByPage" parameterType="int" resultType="cn.gyyx.java.beans.UserInfo" resultMap="UserInfoResultMap">
		select top 5 * from user_info_tb where info_id not in (select top ((${_parameter}-1)*5) info_id from user_info_tb order by info_id) order by info_id
	</select>
	<select id="selectCount" resultType="int">
		select count(*) from user_info_tb
	</select>
	<resultMap id="UserInfoResultMap" type="cn.gyyx.java.beans.UserInfo">
		<id property="info_id" column="info_id" />
		<result property="info_account" column="info_account" />
		<result property="info_password" column="info_password" />
		<result property="info_name" column="info_name" />
		<result property="info_gender" column="info_gender" />
		<result property="info_card" column="info_card" />
		<result property="info_phone" column="info_phone" />
		<result property="info_email" column="info_email" />
		<result property="info_question" column="info_question" />
		<result property="info_answer" column="info_answer" />
	</resultMap>
</mapper>