<!DOCTYPE HTML>
<html>
	<head>
		<title>My JSP 'error.jsp' starting page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!--
		<link rel="stylesheet" type="text/css" href="styles.css">
		-->
	</head>

	<body>
	出错了！<br>
	</body>
</html>
