<!DOCTYPE HTML>
<html>
<head>
<title>主页</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="/java/resources/css/style.css" />
</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2014/11/18 <br />
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">FanYongliang</h1>
				</div>
				<div id="navigation"></div>
			</div>
			<div id="content">
				<p id="whereami"></p>
				<h1>已查询到的结果</h1>
				<br />
				<table border="1" class="table">
					<tr class="table_header">
						<td>编号</td>
						<td>账号</td>
						<td>姓名</td>
						<td>性别</td>
						<td>身份证</td>
						<td>电话</td>
						<td>邮箱</td>
						<td>操作</td>
					</tr>

					#foreach ($user in $users)
						<tr class="row1">
							<td>$!{user.info_id}</td>
							<td>$!{user.info_account}</td>
							<td>$!{user.info_name}</td>
							<td>$!{user.info_gender}</td>
							<td>$!{user.info_card}</td>
							<td>$!{user.info_phone}</td>
							<td>$!{user.info_email}</td>
							<td><a href="#" onclick="">详细信息</a></td>
						</tr>
					#end
				</table>
				<p><a href="javascript:history.go(-1)" >返回主页</a>
				</p>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">FanYongliang@gyyx.cn</div>
		</div>
	</div>

</body>
</html>
